.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.name {
    text-align: center;
    font-family: sans-serif;
    background: grey;
}

header {
    background: grey;
    color: #fff;
    padding: 20px 0;
    align-items: center;
}

.hellop {
    font-family: sans-serif;
    font-size: 30px;
}

.bankh {
    font-family: sans-serif;
    font-size: 25px;
}

.day {
    font-family: sans-serif;
    font-size: 25px;
}

.menacc {
    color: grey;
    font-family: sans-serif;
}

.osnovm {
    color: grey;
    font-family: sans-serif;
}

.pustog {
    font-family: sans-serif;
    color: grey;
    text-align: center;
    font-size: 20px;
}

.obnovkabot {
    font-family: sans-serif;
    color: grey;
    font-size: 15px;
}

.onemesto {
    font-family: sans-serif;
    color: black;
    font-size: 19px;
    text-align: center;
}

.twomesto {
    font-family: sans-serif;
    color: black;
    font-size: 19px;
    text-align: center;
}

.threemesto {
    font-family: sans-serif;
    color: black;
    font-size: 19px;
    text-align: center;
}

.iluhah {
    font-family: sans-serif;
    text-align: center;
}

.news {
    font-family: sans-serif;
}

.version {
    font-family: sans-serif;
}

.sversia {
    font-family: sans-serif;
}

.infom {
    color: grey;
    font-family: sans-serif;
}

.fourmesto {
    font-family: sans-serif;
    color: black;
    font-size: 19px;
    text-align: center;
}

.fivemesto {
    font-family: sans-serif;
    color: black;
    font-size: 19px;
    text-align: center;
}

.oglavleniye {
    font-family: sans-serif;
    text-align: center;
}

.vcain {
    font-family: sans-serif;
    text-align: center;
}

.adminin {
    font-family: sans-serif;
    text-align: center;
}

.rules {
    font-family: sans-serif;
    text-align: center;
}

.inform {
    font-family: sans-serif;
}

.block {
    font-family: sans-serif;
    background-color: red;
    text-align: center;
}

.primerblock {
    width: 500px;
    height: 500px;
}

.vcas {
    font-family: sans-serif;
    font-size: 17px;
}

.oblojka {
    width: 500px;
    height: 400px;
}

.byras {
    font-family: sans-serif;
}

.background {
    background-image: url("backgound-site.png");
}

.coursevalluts {
    font-family: sans-serif;
    
}

.descacc {
    font-family: sans-serif;
}

.algobtn {
    padding: 10px;
    background-color: #d400ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.algoritmicks {
    color: #d400ff;
}

.descriptionacc {
    text-align: center;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    vertical-align: middle;
}